.job-left img{
    width: 80px;
    height: 80px;
}
.job-top{
    background-color: rgba(177, 198, 255, 0.17);
    min-height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.bookmark{
    background-color: rgba(127, 150, 255, 0.156);
}
.job-overview{
    background-color: rgba(177, 198, 255, 0.17);
}
.job-overview li{
    letter-spacing: 0.5px;
    word-spacing: 2px;
    line-height: 2;
}
.job-body ul li::marker{
    /* content: "✔️"; */
    /* margin-right: 10px; */
}
.job-body ul{
    margin: 0;
    padding: 10px;
}
.job-body img{
    width: 100%;
    border-radius: 20px;
    min-height: 200px;
}
.overflow-hidden{
    background:linear-gradient(rgb(247, 247, 247), rgb(250, 250, 250));
    min-height: 100vh;

}
.job-header{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.jd p, .jd li{
    color: #6d6d6d !important;
}
.icons i{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 5px;
}
.bi-facebook{
    background: linear-gradient(45deg, #395ddf, #005de0);
}
.bi-facebook{
    background: linear-gradient(45deg, #395ddf, #005de0);
}
.bi-twitter{
    background: linear-gradient(45deg, #1797ff, #46d5f5);
}
.bi-linkedin{
    background: linear-gradient(45deg, #0057b4, #559cff);
}
.jd h4{
    font-size: 1.1rem !important;
}
.jd br{ display: none !important;}
.jd p{margin-bottom: 20px;}
.date{font-size: 0.8rem !important;}
.card{
    border: 1px solid #dadada !important;
}

@media(max-width:768px){
    .intrestedjobs{
        display: flex !important;
        overflow: auto;
        align-items: center;
        gap: 20px;
        padding: 10px;
        scroll-snap-type: x mandatory;
    }
    /* .intrestedjobs::-webkit-scrollbar{
        display: none;
    } */
    .i-job-card{
        min-width: 280px !important;
        scroll-snap-align: center;
    }


}