.job-left img{
    width: 80px;
    height: 80px;
}
.job-top{
    background-color: rgba(177, 198, 255, 0.17);
    min-height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.bookmark{
    background-color: rgba(127, 150, 255, 0.156);
}
.job-overview{
    background-color: rgba(177, 198, 255, 0.17);
}
.jd{
    letter-spacing: 1.3px;
    line-height: 2;
    word-spacing: 2px;
}
.job-overview li{
    letter-spacing: 0.5px;
    word-spacing: 2px;
    line-height: 2;
}